
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio

# dependencies
06-create-react-app/node_modules
06-create-react-app/.pnp
06-create-react-app/*.pnp.js

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
